h1 
{color: black;}
body
{background-color: darkslategray;
text-align:star;
width: 35px;
height: 20px;
border: 5px solid black;
font-size: 30px;
font-weight: normal;
font-family: "Times";}
