h1 
{color: black;}
body
{background-color: darkslategray;
width: 35px;
height: 20px;
}
p
{border: 10px solid black;
text-align: end;
font-size: 30px;
font-weight: normal;
font-family: "Times";}
