nav {
  padding: 5em;
}
li {
  display: inline;
  list-style: unset;
  font-size: 30px;
  margin: 15px;
  text-decoration: underline;
}
a {
  font-weight: bold; 
  color: darkslategray;
  }
body {
  background-color: #1a1a1a;
  text-align: center;
  color: firebrick;
  margin: 30px;
}
