nav {
  font-size: 40px;
  list-style: none;
  border-bottom: 1px solid black;
  margin-right: 15px;
}
li{
  display: inline;
}
body {
  padding: 5em;
  background-color: darkslategray;
  border: 5px solid cadetblue;
}
p {
  font-size: 20px;
}
