nav {
  font-size: 40px;
  list-style: none;  
}
li{
  display: inline;
  margin-right: 30px;
  color: black;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  
}
body {
  padding: 5em;
  margin: 10px;
  background-color: black;
  color: firebrick;
  font-family: "Times New Roman", Times, serif;
}
p {
  font-size: 30px;
}
h1 {
  
}
